<!DOCTYPE html>
<html>
<head>
	<title>Brainfuck</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<a href="https://www.dcode.fr/brainfuck-language">use this to decode brainfuck</a>
<p>oh also the title isn't a command, it might be a link :)</p>

</body>
</html>
