<!DOCTYPE html>
<script>
    function reveal(){
        const x = document.getElementById("sus");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
<html>
<head>
    <title>/event</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>:O</h1>
<pre>
  <code>K1stLS0+Kys8XT4rKysuLS0uK1stLS0tLT4rPF0+Li0tLS0uKytbLT4rKys8XT4uWy0tPis8XT4rKy4rWy0tPisrKzxdPi4tLVstPisrKys8XT4uWy0tPisrKzx
dPisuLS4rKysrKysrKysrLi0tWy0tLT4rPF0+LS5bLS0tLS0tLT4rPF0+Ky4tLS4tLS0tLS0tLS0tLS0tLS5bLS0tPis8XT4tLS5bLS0tPisrPF0+Ky4tLS4rWy0tLT4rKysrKzxdPi4t
LS5bLT4rKys8XT4uK1stLS0+Kys8XT4rKy5bLS0tPis8XT4rKysuLS0tLS0tLS0uPi1bLS0tPis8XT4tLisrLi0tLS0uK1stLS0+KzxdPisuWy0tLT4rKzxdPisuWy0tLT4rPF0+LS0tLS4rLlstPisrKzxdPisuPi1bLS0tPis8XT4tLi4rKy4tLS0tLS0tLS0tLS0uKysrKysrKy4rW
y0tPisrKzxdPi0uWy0tPis8XT4rKysrKy4tLS0tLS0tLS0tLS0tLj4tWy0tLT4rPF0+LS4rKy4tLS0tLi0tLS0uKysuKy4tLVstPisrKys8XT4rLi4=</code>
</pre>
<button onclick="reveal()">Hint</button>
<div id="sus" style="display: none">
    <p>hint: base and the max size of a stack of stone</p>
</div>
</body>
</html>
