body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: black;
	text-decoration-color: white;
}

pre code {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
}

button {
	cursor: pointer;
}
